body {
  margin: 0;
  padding: 0;

}

#screen {
  width: 100vw;
  height: 100vh;
  background-color: azure;
  overflow: hidden;
  
}

#stage {
  --cols: 6;
  --rows: 2;
  width: calc( var(--cols) * 10vh );
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

#platforms {
  display: grid;
  grid-template-columns: repeat(var(--cols), 10vh);
  grid-template-rows: repeat(var(--rows), 10vh);
}

#platforms div {position: relative;}

.tile {  
  background-size: cover;
}

#platforms .tile.sign span {
  position: absolute;
  left: 0;
  top: 1vh;
  height: 5.5vh;
  width: 100%;
  font-family: 'Gochi Hand', cursive;
  font-size: 4vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px #444;
}

.tile.liquid {
  z-index: 3;
  opacity: .9;
  background-size: 800% 100%;
  animation: liquidanimation 1s infinite steps(8) alternate;
}

@keyframes liquidanimation {
  0% { background-position: 0% }
  100% { background-position: -800%}
}

/* info box */
#info {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

#sign {
  pointer-events:all;
  width: 40vw;
  border: 4vh ridge #c4905fd0;
  box-shadow: -.5vh -.5vh 8px #ae7640d0, .5vh .5vh 8px #705236e0; 
  
  border-radius: 4vh;
  background-color: #c58f5c;
  
}

#sign.show {
  animation: signshow 1s 1 cubic-bezier(.78,.86,.58,1.38) forwards;
  transform-origin: bottom;
}

@keyframes signshow {
  from {
    transform: translateY(12vh) scale(.1);  
  }

  to {
    transform: translateY(0) scale(1);
  }
}


#sign.hide {
  animation: signhide .4s ease-in 1 forwards;
  transform-origin: bottom;
  
}

@keyframes signhide {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  to {
    transform: translateY(15vh) scale(0);  
    opacity: 0;;
  }
}



#sign .box {
  border-bottom: 1px solid #00000080;
  border-right: 1px solid #00000080;
  border-radius: 3vh 0;
  padding: .5vh 3vh;

  font-family: 'Gochi Hand', cursive;
  
  color: white;

  display: flex;
  flex-direction: column;
}

#info .box h1 {
  font-size: 300%;
  margin: 1vh 0;
  border-bottom: 2px ridge #e6be98d0;
}

#info .box p {
  margin: 0;
  font-size: 200%;
  border-bottom: 2px ridge #e6be98d0;
}

#info .box button {
  margin: 1vh;
  width: 20%;
  align-self: flex-end;
  border-radius: 1vh;
  font-family: 'Gochi Hand', cursive;
  font-size: 3vh;
}

/* BOXES */
.boink {
  animation: bounce 0.9s both, zoomBox 0.8s 0.9s ease-in forwards;
}

@keyframes zoomBox {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  30% {
    transform: translateY(0) scale(2.2);
    opacity: 1;
  }

  100% {
    transform: translateY(-40vh) scale(10);
    opacity: 0;
  }
}


@keyframes bounce {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

/* slides */

#slides .slide {
  pointer-events: all;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding: 5vh 8vh 5vh 8vh;
  background-color: #fff;
  box-shadow: 1vh 1vh 3vh #888;
  display: flex;
  flex-direction: column;
}

#slides .slide::after {
  position: absolute;
  right: -2vh;
  top: -2vh;
  content: "✕";
  font-family: Arial;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
  line-height: 4vh;
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  border: .5vh solid rgb(136, 18, 18);
  background-color: rgb(209, 209, 209);
  box-shadow: inset .3vh .3vh 1vh #aaa, 0.5vh 1vh 1vh #aaa;
}

#slides .slide:hover::after {
  border: .5vh solid rgb(218, 49, 49);
  box-shadow: inset .3vh .3vh 1vh #aaa, 0.1vh .1vh 1vh #aaa;
  transform: translate(.5vh,.5vh);
}



.slide h1 {
  font-size: 11vh;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1vh;
}

.slide .leadin {
  font-size: 5vh;
  margin-top: 0;
  padding: 0 1vh;
}

.slide .mainimage {
  width: 80%;
  align-self: center;
}

.slide .custom {
  width: 80%;
  align-self: center;
  position: relative;
}


.slide .twoimages {
  display: flex;
  flex-direction: row;
}

.slide .twoimages img {
  width: 100%;
  max-width: 33vw; 
}

.slide .mainimage img {
  width: 100%;
}

/* custom slides */
.custom.garden {
  background-image: url('slides/garden-scene.svg');
  width: 46vw;
  height: 30vw;
  background-size: contain;

}

.custom.garden img {
  transition: all 2s 1s ease-in;
}

.custom.garden .bee {
  transform: translate(33vw,10vw) scaleX(-1);
}

.custom.garden .frog {
  transform: translate(18vw,25vw);
}

.custom.garden .ladybug {
  transform: translate(28vw,20vw) rotate(120deg);
}

.custom.garden .fish {
  opacity: .5;
  transform: translate(17vw,26vw);
}

/* group */
.custom.group {
  height: 30vw;
  position: relative;  
  transform: translateX(-4vh);
}
.custom.group .character {
  transform: scale(2);
}

.custom.group .blue {
  top: 2vw;
  filter: hue-rotate(150deg);
}
.custom.group .green {
  top: 20vw;
  filter: hue-rotate(45deg);
}

.custom.group .red {
  top: 2vw;
  left: 25vw;
  filter: hue-rotate(310deg);
}

.custom.group .yellow {
  top: 20vw;
  left: 25vw;
}



/* animations */

.custom.animations {
  border: 2px solid black;
  height: 30vw;
  position: relative;  
  overflow: hidden;
}

.custom .character {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 14vh;
  height: 14vh;
  background-image: url('characters/player.svg'); 
  background-position: 0px 0px;
  background-size: 700% 300%;
}

.custom.animations .character.transform {
  animation: transforms 10s infinite;
}

@keyframes transforms {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(360deg);
  }
  20% {
    transform: scale(4);
  }
  30% {
    transform: skewX(45deg);
  }
  40% { transform: translate(0,0); }
  42% { transform: translate(-5vh,-5vh); }
  44% { transform: translate(0,0); }
  46% { transform: translate(0,-5vh); }
  48% { transform: translate(0,0); }
  50% { transform: translate(5vh,-5vh); }
  52% { transform: translate(0,0); }
  54% { transform: translate(5vh,0); }
  56% { transform: translate(0,0); }
  58% { transform: translate(5vh,5vh); }
  60% { transform: translate(0,0); }
  62% { transform: translate(0,5vh); }
  64% { transform: translate(0,0); }
  66% { transform: translate(-5vh,5vh); }
  68% { transform: translate(0,0); }
  70% { transform: translate(-5vh,0); }
  72% { transform: translate(0,0); }

  80% {
    transform: skewY(45deg);
  }
  90% {
    transform: scale(.1);
  }
  100% {
    transform: scale(1);
  }
  }

.custom.animations .character.animate {
  left: 65%;
  top: -15vh;
  animation: animations 10s infinite;
}

@keyframes animations {
  0% {
    transform: translate(0,0);
    opacity: 1;
  }
  30% {
    transform: translate(0,45vw);
  }
  30.1% {
    transform: translate(0,0);
  }
  50% {
    transform: translate(0,20vw);
  }
  70% {
    transform: translate(0,20vw) rotate(360deg) scale(0);
  }
  70.1% {
    transform: translate(0,20vw) rotate(0deg) scale(0);
    opacity: 1;
  }

  90% {
    transform: translate(0,20vw) rotate(0deg) scale(.5);
    opacity: 0;
  }

  100% {
    transform: translate(0,20vw) rotate(0deg) scale(.5);
    opacity: 0;
  }
}



/* player */

#player {
  /* outline: 2px solid red; */
  position: absolute;
  top: 0; 
  left: 0;
  width: 14vh;
  height: 14vh;
}

#player .sprite {
  background-image: url('characters/player.svg');
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-size: 800% 300%;
}

#player .effect {
  position: absolute;
  bottom: 0;
  left: 0;
  
  background-image: url('effects.svg');
  background-size: 600% 200%;

  height: 50%;
  width: 100%;  
  opacity: 0;
}

#player .effect.dust { 
  background-position: 0 0;
  animation: dust-settle .3s ease-in 1 forwards;
  transform-origin: bottom;
}

#player .hitbox {
  visibility: hidden;
  position: absolute;
  background-color:rgba(0, 128, 0, .2);
  top: 2.1vh;
  height: 9.8vh;
  left: 3.5vh;
  width: 7vh;
  outline: 2px dashed lightgreen;
}

@keyframes dust-settle {
  0% {
    opacity: 0;
    transform: translatey(-1.8vh) scale(0,0);
  }

  30% {
    opacity: 1;
    transform: translateY(-1.8vh) scale(1,1);
  }

  to {
    opacity: 0;
    transform: translateY(-1.8vh) scale(.6,.2);
  }
}

#player.standing .sprite {
  background-position: 0 0;
}

#player.idle .sprite {
  animation: idle 1s steps(5) infinite alternate;
}

@keyframes idle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -500% 0%
  }
}

#player.falling .sprite {
  background-position: 0 0;
}

#player.walking .sprite {
  animation: walkcycle .6s steps(6) infinite;
}

@keyframes walkcycle {
  from {
    background-position: -100% -100%;
  }
  to {
    background-position: -700% -100%;
  }
}

#player.landing .sprite {
  animation: landing .7s steps(3) 1;
}

@keyframes landing {
  from {
    background-position: -000% -200%;
  }
  to {
    background-position: -300% -200%;
  }
}

/* HUD */
#hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 3vh;
  
  display: flex;
  justify-content: space-between;

  font-family: 'Gochi Hand', cursive;
}

#hud>div {
  
}

#hud .keys img {
  height: 100%;

}

#hud .level {
  font-size: 4vh;
  color: rgb(187, 187, 212);
  text-shadow: 1px 1px 1px rgb(135, 135, 255);
}


/* items */
.move-to-hud {
  animation: movetohud .5s ease-in 1;

}

@keyframes movetohud {
   from {
     transform: translate(0,0) scale(1) rotate(0deg) ;
   }
   to {
     transform: translate(var(--dist-x), var(--dist-y)) scale(.8)  rotate(-45deg);
   }
}


/* GAME INFO */
#gameinfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  display: flex;
  justify-content: center;
  align-items: center;
}


#gameinfo #levelready {
  font-family: 'Montserrat', sans-serif;
  font-size: 300%;
  background-color: white;
  border-radius: 5vh;
  padding: 0vh 5vh;
  box-shadow: 1vh 1vh 4vh #666;
}

#gameinfo #levelcomplete {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  background-color: white;
  border-radius: 5vh;
  padding: 0vh 5vh;
  box-shadow: 1vh 1vh 4vh #666;
}

#gameinfo #gameover {
  font-family: 'Ribeye Marrow', cursive;
  font-size: 600%;
  background-color: black;
  color: rgb(255, 196, 0);
  text-shadow: 0 0 8vh rgb(153, 153, 0);
  border-radius: 5vh;
  padding: 0vh 10vh;
  box-shadow: 1vh 1vh 4vh #666;
}

#platforms {
  transition: filter 1s;
}

.blur {
  filter: blur(4px);
}


